.menu > ul > li {
    position: relative;
    display: inline-block;
}
.sub-menu {
    display: block;
    position: absolute;
    width: 940px;
    background-color: #fff; 
    z-index: 999; 
    top: 333%;
    left: 0; 
    opacity: 0; 
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.4s ease, visibility 0s 0.4s, transform 0.4s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.menu > ul > li:hover .sub-menu {
    opacity: 1;
    visibility: visible; 
    transform: translateY(0);
    transition: opacity 0.4s ease, visibility 0s, transform 0.4s ease; 
}

/* =========================== */

.btn {
    display: inline-block;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.75s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0);
}

.btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.btn:hover {
    background-color: #2ecc71; 
    color: #fff; 
    transform: scale(1.1); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
}

.btn a {
    position: relative;
    z-index: 1;
}
/* ------------------------------------------- */

.box {
    opacity: 0;
    transform: translateY(50px);
    margin-bottom: 20px;
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    animation: slideUp 1s ease forwards;
}


.scrollAnimation {
    opacity: 0; 
    transform: translateY(100px); 
    animation: slideUp 1s ease forwards; 
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* scrollAnimation */
.scrollAnimation:nth-child(1) {
    animation-delay: 0.4s;
}

.scrollAnimation:nth-child(2) {
    animation-delay: 0.8s;
}

.scrollAnimation:nth-child(3) {
    animation-delay: 1.2s;
}

.scrollAnimation:nth-child(4) {
    animation-delay: 1.4s;
}
.scrollAnimation:nth-child(5) {
    animation-delay: 2.0s;
}
.scrollAnimation:nth-child(6) {
    animation-delay: 2.4s;
}
.scrollAnimation:nth-child(7) {
    animation-delay: 2.8s;
}
.scrollAnimation:nth-child(8) {
    animation-delay: 3.2s;
}
.scrollAnimation:nth-child(9) {
    animation-delay: 3.6s;
}

/* innput Animation */
.inputAnimation[type="text"] {
    outline: none;
    transition: all 0.4s ease;
}

.inputAnimation[type="text"]:focus {
    border-color: #3498db; 
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.4); 
    transform: scale(1.05); 
}


.inputAnimation[type="text"]:focus::placeholder {
    color: transparent; 
}
/* hover-img */
.img-hover img {
    transition: transform 0.7s ease, box-shadow 1s ease; /* Hiệu ứng mượt khi hover */
  }
  
  .img-hover img:hover {
    transform: scale(1.15); /* Phóng to biểu tượng giỏ hàng */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Tạo bóng cho biểu tượng giỏ hàng */
  }
  /*  */
  
  .img-hover-t img {
    transition: transform 1s ease; /* Thêm hiệu ứng chuyển động mượt */
  }
  
  .img-hover-t img:hover {
    transform: scale(1.1); /* Phóng to ảnh 10% khi hover */
  }
  

  /* ------------------- */